{% extends "base.html" %}
{% block meta_title %}Usage Graph{% endblock %}
{% block meta_description %}Usage graph of IW4MAdmin instance, clients, and servers{% endblock %}
{% block content %}
<div class="content">
    <div class="d-inline-flex mb-3 me-3" role="group" aria-label="...">
        <span class="badge text-bg-primary rounded-end-0">{{instance_count.value}}</span>
        <span class="badge text-bg-dark rounded-start-0">instances</span>
    </div>
    <div class="d-inline-flex mb-3 me-3" role="group" aria-label="...">
        <span class="badge text-bg-primary rounded-end-0">{{client_count.value}}</span>
        <span class="badge text-bg-dark rounded-start-0">clients</span>
    </div>
    <div class="d-inline-flex mb-3 me-3" role="group" aria-label="...">
        <span class="badge text-bg-primary rounded-end-0">{{server_count.value}}</span>
        <span class="badge text-bg-dark rounded-start-0">servers</span>
    </div>
    <div id="history_graph" class="mt-3">{{history_graph|safe}}</div>
    <div class="mt-4 ms-2">
        <a href="/{{previous_zoom_point}}">
            <i class="ph ph-magnifying-glass-minus h4 text-muted" style="cursor:pointer;"></i>
        </a>
        <a href="/{{next_zoom_point}}">
            <i class="ph ph-magnifying-glass-plus h4 text-muted" style="cursor:pointer;"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script defer type="text/javascript" src="https://kozea.github.io/pygal.js/latest/pygal-tooltips.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        // $('g.plot').attr('transform', 'translate(30, 0)');
        //$('svg.pygal-chart').attr('viewBox', '0 0 700 450');
    });

</script>
{% endblock %}