<!DOCTYPE html>
<html class="bg-dark" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW4MAdmin Master | {{ title }}</title>
    <!-- Halfmoon UI 2.0.2 -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <!-- Phosphor Icons -->
    <link href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css" rel="stylesheet">
    <style type="text/css">
        .active {
            stroke-width: initial !important;
        }

        .dot {
            opacity: 0;
            padding: 5px;
        }

        .dot:hover {
            opacity: 1;
        }

        .tooltip-box {
            fill: #343a40 !important;
        }
    </style>
    {% block styles %}
    {% endblock %}
</head>

<body class="dark-mode" data-bs-theme="dark">

    <nav class="navbar">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link">Graph</a>
            <a href="/servers" class="nav-item nav-link">Servers</a>
            <a href="/stats" class="nav-item nav-link">Stats</a>
            <a href="https://github.com/RaidMax/IW4MAdmin-Master" target="_blank" class="nav-item nav-link">Source</a>
        </div>
    </nav>

    <div class="container content-wrapper">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>

</html>