{% extends "base.html" %}
{% block meta_title %}Servers{% endblock %}
{% block meta_description %}List of monitored games and servers{% endblock %}
{% block content %}
<div class="content">
    <!-- Embedded Grafana Server List Dashboard -->
    <div id="grafana_servers">
        <iframe
            src="{{grafana_base_url}}/d/iw4madmin-servers/iw4madmin-server-list?orgId=1&theme=dark&refresh=30s&kiosk"
            width="100%" style="height: calc(100vh - 180px); border: none; border-radius: 8px; background: #1d2125;">
        </iframe>
    </div>
</div>
{% endblock %}