{% extends "base.html" %}
{% block meta_title %}Servers{% endblock %}
{% block meta_description %}List of monitored games and servers{% endblock %}
{% block content %}

<div class="content">
    {% for game in games %}
    <button class="btn game {{'btn-primary active' if loop.first else ''}} mb-5" data-game="{{game}}">{{game}}</button>
    {% endfor %}

    <div class="tab-content" id="server_game_tabs_content">
        {% for game, servers in games.items() %}

        <div class="game-server-panel {{'' if loop.first else 'd-none'}}" id="{{game}}_servers">
            <div class="badge-group mt-10 mb-10" role="group" aria-label="...">
                <span class="badge badge-primary">{{servers|sum(attribute='clientnum')}}</span>
                <span class="badge bg-dark text-white">players</span>
            </div>
            <div class="badge-group mt-10 mb-10" role="group" aria-label="...">
                <span class="badge badge-secondary">{{servers|length}}</span>
                <span class="badge bg-dark text-white">servers</span>
            </div>
            <table class="table table-striped table-hover table-responsive table-outer-bordered">
                <thead>
                <tr>
                    <th>Server Name</th>
                    <th>Map Name</th>
                    <th>Players</th>
                    <th>Mode</th>
                    <th class="text-center d-none d-lg-table-cell">Webfront</th>
                    <th class="text-center d-none d-lg-table-cell">Connect</th>
                </tr>
                </thead>
                <tbody>

                {% for server in servers|sort(attribute='clientnum', reverse = True) %}

                <tr class="server-row" data-ip="{{server.ip}}" data-port="{{server.port}}">
                    <td data-hostname="{{server.hostname | regex_replace('\^([0-9]+|:)', '')}}"
                        class="server-hostname text-break">{{server.hostname | regex_replace('\^([0-9]+|:)', '')}}
                    </td>
                    <td data-map="{{server.map}}" class="server-map text-break">{{server.map}}</td>
                    <td data-clientnum="{{server.clientnum}}" data-maxclientnum="{{server.maxclientnum}}"
                        class="server-clientnum">
                        {{server.clientnum}}/{{server.maxclientnum}}
                    </td>
                    <td data-gametype="{{server.gametype}}" class="server-gametype text-break">{{server.gametype}}
                    </td>
                    <td class="text-center d-none d-lg-table-cell">
                        {% if server.instance.webfront_url %}
                        <a href="{{server.instance.webfront_url}}" target="_blank"><span class="oi oi-globe"></span></a>
                        {% endif %}
                    </td>
                    <td class="text-center d-none d-lg-table-cell" data-toggle="modal"
                        data-target="#serverModalCenter">
                        <a href="#serverModalCenter" class="connect-button"><span class="oi oi-play-circle"></span></a>
                    </td>
                </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>

    $(document).ready(() => {
        $('.connect-button').off('click');
        $('.connect-button').on('click', function (e) {
            const parent = $(this).parents('.server-row');
            const hostname = parent.find('.server-hostname').data('hostname');
            const map = parent.find('.server-map').data('map');
            $('#modalTitle').html(`${hostname} <div class="text-muted">${map}</div>`);
            $('#modalContent').html(`<code class="code">connect ${$(parent).data('ip')}:${$(parent).data('port')}</code>`);
        });

        $('.game').click((e) => {
            $('.game').removeClass('btn-primary active');
            $(e.target).addClass('btn-primary active');
            const game = $(e.target).data('game');
            $('.game-server-panel').addClass('d-none').removeClass('d-block');;
            $( `#${game}_servers` ).removeClass('d-none').addClass('d-block');
        });
    });

</script>

{% endblock %}
