{% extends "base.html" %}
{% block meta_title %}Statistics{% endblock %}
{% block meta_description %}Statistics for IW4MAdmin instances{% endblock %}
{% block content %}
<div class="content row">
    {% for key, value in stats.items() %}
    <div class="col-sm {{'' if loop.last else 'mb-20'}}">
        <table class="table table-responsive table-outer-bordered">
            <thead>
            <tr>
                <th colspan="3" class="text-center">{{key}}</th>
            </tr>
            <tr>
                <th>{{value[0][1]['metric_name']}}</th>
                <th>{{value[0][1]['metric_count']}}</th>
                <th class="text-right">Percent</th>
            </tr>
            </thead>
            <tbody>
            {% for item in value %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]['count']}}</td>
                <td class="text-right">{{item[1]['percent']}}%</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}