{% extends 'base.html' %}
{% block meta_title %}Plugin Store{% endblock %}
{% block meta_description %}IW4MAdmin plugin store allows you to subscribe and download plugins{% endblock %}
{% block content %}
<div class="content text-extra-letter-spacing">
    <div class="content-title">Store Information</div>
    <p>
        This website serves to provide users of <a href="https://github.com/RaidMax/IW4M-Admin" target="_blank" class="badge">IW4MAdmin</a> [an administration tool for the Call of Duty&reg series] with an easy-to-use way to subscribe to user created plugin content.<br/>
        Since it is in a very early development stage, this website will change and improve over time.
    </p>
    <span class="font-size-18 font-weight-bold">How does it work?</span>
    <p>
        Each <a href="https://github.com/RaidMax/IW4M-Admin" target="_blank" class="badge">IW4MAdmin</a> instance is capable of retrieving the collection of plugins that you have subscribed to.
        These plugins will automatically be kept up-to-date so you don't have to worry about updating your plugins.
    </p>
    <span class="font-size-18 font-weight-bold">How do I get plugins?</span>
    <p>
        Simply navigate to the <a href="/plugins" class="badge badge-primary" title="Quick link to plugins">plugins</a> page to view available plugins.<br/>
        Next, subscribe to the plugins you are interested in by clicking the <span class="font-weight-bold">subscribe</span> button and filling out your information.<br/>
        Finally, update your <a href="https://github.com/RaidMax/IW4M-Admin" target="_blank" class="badge">IW4MAdmin</a> configuration as outlined on the <a href="/setup" class="badge badge-primary">help</a> page.
    </p>
    <hr/>
</div>
{% endblock %}
