{% extends 'base.html' %}
{% block meta_title %}Terms of Service{% endblock %}
{% block meta_description %}Terms agreed to upon using this service %} {% endblock %}
{% block content %}
<div class="content text-extra-letter-spacing">
    <div class="content-title">Disclaimer</div>
    <p>
        There are inherent dangers in the use of any software available for download on the Internet and this website, and we caution you to make sure that you completely understand the potential risks before downloading any of the software.
        The Software available on this website is provided "as is" without warranty of any kind, either express or implied. <span class="font-weight-bold"> Use at your own risk.</span><br/>
        <br/>
        The use of the software and scripts downloaded on this site is done at your own discretion and risk and with agreement that you will be solely responsible for any damage to your computer system or loss of data that results from such activities.
        You are solely responsible for adequate protection and backup of the data and equipment used in connection with any of the software, and we will not be liable for any damages that you may suffer in connection with using, modifying or distributing any of this software.
        No advice or information, whether oral or written, obtained by you from us or from this website shall create any warranty for the software.<br/>
    </p>

        <span class="font-weight-bold">We make makes no warranty that:</span>
        <br/>
        <ul>
            <li>the software will meet your requirements</li>
            <li>the software will be uninterrupted, timely, secure or error-free</li>
            <li>the results that may be obtained from the use of the software will be effective, accurate or reliable</li>
            <li>the quality of the software will meet your expectations</li>
            <li>any errors in the software obtained from us will be corrected</li>
        </ul>

        <span class="font-weight-bold">The software and/or their documentation made available on this website:</span>
        <br/>
        <ul>
            <li>could include technical or other mistakes, inaccuracies or typographical errors.</li>
            <li>may be out of date, and we make no commitment to update such materials.</li>
        </ul>
        <p>
            We assume no responsibility for errors or omissions in the software or documentation available from its web site.<br/>
            In no event shall we be liable to you or any third parties for any special, punitive, incidental, indirect or consequential damages of any kind, or any damages whatsoever, including, without limitation, those resulting from loss of use, data or profits, and on any theory of liability, arising out of or in connection with the use of this software.
        </p>

    <div class="content-title">Terms of Service and Conditions of Use</div>
    <br/>
    <span class="font-weight-bold">Terms</span>
    <p>By accessing this Website, accessible from https://store.raidmax.org, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>
    <span class="font-weight-bold">Use License</span>
    <p>Permission is granted to temporarily download one copy of the materials on IW4MAdmin Plugins's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>
    <ul>
        <li>modify or copy the materials;</li>
        <li>use the materials for any commercial purpose or for any public display;</li>
        <li>attempt to reverse engineer any software contained on IW4MAdmin Plugins's Website;</li>
        <li>remove any copyright or other proprietary notations from the materials; or</li>
        <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
    </ul>
    <p>This will let IW4MAdmin Plugins to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>
    <span class="font-weight-bold">Disclaimer</span>
    <p>All the materials on IW4MAdmin Plugins’s Website are provided "as is". IW4MAdmin Plugins makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, IW4MAdmin Plugins does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>
    <span class="font-weight-bold">Limitations</span>
    <p>IW4MAdmin Plugins or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on IW4MAdmin Plugins’s Website, even if IW4MAdmin Plugins or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>
    <span class="font-weight-bold">Revisions and Errata</span>
    <p>The materials appearing on IW4MAdmin Plugins’s Website may include technical, typographical, or photographic errors. IW4MAdmin Plugins will not promise that any of the materials in this Website are accurate, complete, or current. IW4MAdmin Plugins may change the materials contained on its Website at any time without notice. IW4MAdmin Plugins does not make any commitment to update the materials.</p>
    <span class="font-weight-bold">Links</span>
    <p>IW4MAdmin Plugins has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by IW4MAdmin Plugins of the site. The use of any linked website is at the user’s own risk.</p>
    <span class="font-weight-bold">Site Terms of Use Modifications</span>
    <p>IW4MAdmin Plugins may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>
    <hr/>
    {% endblock %}